.env
.git
.venv
.DS_Store
__pycache__
.idea/
.vscode/
airflow_settings*
airflow_settings.yaml
astro
astro-cli
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
cookies.json

# custom
*.DS_Store
*.pdf
*.mp4
*.m3u8
*.tf
include/datasets/videos/**/
.archive/
.secrets/
include/test.txt
commit_history_*.txt